<h1>Welcome</h1>
<p><%= link_to 'Cписок', admin_admins_path %></p>
<p><%= link_to 'Download APK', advert_path %></p>
<p><%= link_to 'Новый телефон в черный список', new_black_list_path %></p>
<p><%= link_to 'Марки - Модели', markas_path %></p>
